@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0 auto;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #042541;
    padding: 8px 0;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.nav-item::marker {
    content: "";
}

.nav-link {
    color: hsla(0, 0%, 100%, .55);
    text-decoration: none;
    transition: 0.3s;
}

.nav-link:hover {
    color: #fff;
}

.app-title {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
}

.header {
    background-color: #024162;
    padding: 50px 0;
}

.title {
    color: #fff;
    font-size: 38px;
    margin: 0;
}

.paragraph {
    color: #fff;
    margin: 0;
    font-size: 20px;
    margin-top: 5px;
}

.search {
    width: 100%;
    margin-top: 45px;
    border-radius: 50px;
    border: 0px;
    padding: 10px;
}

.movie-section {
    padding: 30px 0;
}

.section-title {
    font-size: 32px;
    margin: 0;
    margin-bottom: 15px;
}

.scroll-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    overflow-x: auto;
}

.card {
    position: relative;
    max-width: 200px;
}

.card-movie-poster {
    border-radius: 10px;
}

.card-body {
    padding: 8px 15px;
}

.card-movie-title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
}

.card-movie-date {
    margin: 0;
    font-size: 14px;
    color: #919191;
}

.badge {
    position: absolute;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 700;
    padding: 3px 8px;
    margin: 10px;
}

.bg-warning {
    background-color: #FFC007;
}

.bg-success {
    background-color: #006e07;
}

.bg-danger {
    background-color: #ad0000;
}

.bg-blue {
    background-color: #024162;
}

.bg-blue h2 {
    color: #fff;
}

.bg-blue h3 {
    color: #fff;
}

.footer {
    margin-top: auto;
}

.footer-line {
    border: 0;
    border-top: 1px #919191 solid;
    opacity: 0.25;
}

.footer-text {
    color: #919191;
    text-align: center;
    font-size: 15px;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.flex {
    display: flex;
    gap: 30px;
    color: #fff;
}

.flex h2 {
    color: #fff !important;
}

.flex i {
    color: #6C757D;
}

.search-box {
    position: absolute;
    width: 82%;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    z-index: 1;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
    padding: 15px;
}

a {
    text-decoration: none;
}

.search-item {
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

.search-link {
    display: flex;
    flex-direction: column;
}

.stop-scroll {
    overflow-x: unset;
    flex-wrap: wrap;
}

.search-link a {
    color: #024162;
    font-weight: bold;
}

.search-link a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  content: "";
}

.search-link small {
    color: #acabab;
}

#gallery .card {
    max-width: 100%;
}

label {
    display: block;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 70dvh;
}

.auth label {
    color: #fff;
    margin: 5px 0;
}

.auth input {
    border-radius: 50px;
    border: none;
    padding: 8px 12px;
}

.auth button {
    border-radius: 50px;
    border: none;
    padding: 8px 20px;
    transition: 0.3s;
    margin-top: 10px;
}

.auth button:hover {
    background-color: #042541;
    color: #fff;
    cursor: pointer;
}

.auth p {
    color: #fff;
    font-size: 14px;
}

.auth a {
    color: #FEC008;
    text-decoration: underline;
}

@media screen and (max-width: 992px) {
    .flex {
        flex-direction: column;
    }

    #details .card-movie-poster {
        width: 100%;
        height: 100%;
    }

    .nav-links {
        max-width: 300px;
        overflow-x: auto;
    }

    .stop-scroll .card {
        max-width: 100%;
    }

    .stop-scroll .card-movie-poster {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    #gallery .card-movie-poster {
        max-width: 350px;
        height: 100%;
        object-fit: cover;
    }
}